.content-slider {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex: 1;
  border-top: 1px solid #2e2f41;
}

.content-page-grid,
.content-page-dynamic {
  background-color: #1e1f33;
  color: #1e1f33;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-right: 1px dashed rgba(255, 215, 0, 0.5);
}

.content-page-dynamic {
  position: relative;
}

.content-page-grid:last-of-type,
.content-page-dynamic:last-of-type {
  overflow: hidden;
}

.no-items {
  position: absolute;
  font-size: 1.5rem;
  color: rgba(252, 252, 252, 1);
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6rem;
  z-index: 1;
  text-transform: capitalize;
}

.page-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.overflow-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* remove top margin from first element in wrapper */
.overflow-wrapper > *:first-child {
  margin-top: 0;
}
