.statusbar {
  position: relative;
  background-color: #1b1a26;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
  color: #80f077;
  text-shadow: 1px 1px green;
  border-top: 1px solid #2e2f41;
  height: 2rem;
}

.statusbar .search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #1b1a26;
  padding: 0 0.5rem;
  border-right: 1px solid #2e2f41;
  opacity: 0.8;
}

.statusbar img {
  height: 1rem;
  width: 1rem;
  opacity: 0.8;
}

.statusbar .filters {
  white-space: nowrap;
  overflow-x: scroll;
  height: 100%;
  display: flex;
}

.statusbar .filters span {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusbar .filters .filter-vals {
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.statusbar .filters .filter-vals.on,
.statusbar .filters .filter-vals.sort {
  color: gold;
}

.statusbar .filters .filter-vals.sel {
  border: 1px solid rgba(255, 212, 0, 0.8);
}

.statusbar .clear-filters {
  margin-left: auto;
  color: rgb(152, 59, 99);
  background: transparent;
  border: 0;
  opacity: 0.7;
  font-size: 0.9rem;
  border-left: 1px solid #2e2f41;
  height: 100%;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
