.map {
  flex: 1;
}

.map-loc {
  user-select: none;
  pointer-events: none;
  position: absolute;
  width: max-content;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #cccccc;
  text-transform: capitalize;
}

.map-loc.hide {
  display: none;
}

.map-loc.selected {
  font-weight: 700;
}

.map .zoom {
  right: 0.5em;
  bottom: 0.5em;
}

.map .rotate {
  left: 0.5em;
  bottom: 0.5em;
}

.ol-hidden {
  display: none;
}
