.range-control {
  position: relative;
  width: 100%;
  min-height: 2.8rem;
  max-height: 16rem;
  border-top: 1px solid #2e2f41;
  height: 100%;
}

.range-control .range-wrapper {
  position: relative;
  width: 76%;
  height: 100%;
  margin: 0 12%;
}

.active {
  position: absolute;
  height: 100%;
  background-color: gold;
  opacity: 0.25;
  left: 0;
}

.range-control.gt .active,
.range-control.desc.lt .active,
.range-status.gt .active,
.range-status.desc.lt .active {
  right: 0;
  left: auto;
}

.range-control.desc.gt .active,
.range-status.desc.gt .active {
  left: 0;
  right: auto;
}

.range-control.asc .range-wrapper,
.range-status.asc .container {
  background: linear-gradient(
    to bottom right,
    #1b1a26 0%,
    #1b1a26 50%,
    #32409b 50%,
    #32409b 100%
  );
}

.range-control.desc .range-wrapper,
.range-status.desc .container {
  background: linear-gradient(
    to bottom left,
    #1b1a26 0%,
    #1b1a26 50%,
    #32409b 50%,
    #32409b 100%
  );
}

.range-label {
  color: #80f077;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.range-control .min {
  left: 0;
  transform: translateX(-100%);
  padding-right: 0.2rem;
}

.range-control .max {
  right: 0;
  transform: translateX(100%);
  padding-left: 0.2rem;
}

.range-control.asc .min,
.range-control.desc .max {
  align-items: flex-end;
  padding-bottom: 0.25rem;
}

.range-control.asc .max,
.range-control.desc .min {
  align-items: flex-start;
  padding-top: 0.25rem;
}

.range-control .thumb {
  position: absolute;
  pointer-events: none;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: transparent;
  color: #80f077;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  margin-right: 1px;
  top: 50%;
}

input {
  position: relative;
  height: 100%;
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

.range-control.desc input {
  direction: rtl;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background-color: #80f077;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 2rem;
  width: 2rem;
  margin-top: -15px;
  border-radius: 1rem;
  border: 1px solid gray;
  background-color: #1e1f33;
  cursor: pointer;
  -webkit-appearance: none;
}

.range-status {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  pointer-events: none;
  z-index: 2;
}

.range-status .container {
  background-color: #1b1a26;
  position: relative;
  border: 1px solid rgba(252, 252, 252, 0.75);
  color: rgb(252, 252, 252);
  border-radius: 0.25rem;
  font-size: 4rem;
}

.range-status .text {
  margin: 1rem 1.5rem;
  display: flex;
}

.range-status .active {
  opacity: 0.2;
}
