.universal_info_display {
  width: 100%;
  height: 100%;
  background-color: #1b1a26;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.01em;
}

.page_loader {
  background-color: rgb(252, 252, 252);
  color: #1e1f33;
  height: 100%;
  width: 100%;
  display: inline-flex;
  position: absolute;
  z-index: -1;
  /*justify-content: center;
  align-items: center;*/
}

#all-text {
  visibility: hidden;
  white-space: normal;
  word-break: break-word;
  width: 100%;
  position: absolute;
}

.universal_info_display_nav_slider {
  background-color: #1e1f33;
  height: 8%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

#filter_range_status {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  padding: 1rem;
  position: fixed;
  color: rgb(252, 252, 252);
  font-size: 3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease 1s;
  pointer-events: none;
  z-index: 1;
}

.no-pointer-events {
  pointer-events: none;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

@keyframes roundandround {
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.scene {
  width: 100%;
  height: 100%;
  margin: 2% auto;
  perspective: 1000px;
}
.wrapper {
  width: 100%;
  height: 100%;
  transform: rotateX(45deg) rotateY(45deg);
  transform-style: preserve-3d;
}
.ball {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin: 0 auto;
  transform-style: preserve-3d;
  animation: roundandround 7.5s 1.3s infinite linear;
  list-style-type: none;
}
.ball .ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 6px;
  border-style: dashed;
  border-radius: 50%;
  opacity: 0;
  animation: show 0.75s forwards ease-in-out;
}
.ring:nth-child(1) {
  color: #8df435;
  transform: rotateY(4deg);
  animation-delay: 0s;
}
.ring:nth-child(2) {
  color: #a8e526;
  transform: rotateY(8deg);
  animation-delay: 0.1s;
}
.ring:nth-child(3) {
  color: #c2d11c;
  transform: rotateY(12deg);
  animation-delay: 0.2s;
}
.ring:nth-child(4) {
  color: #c8cb1b;
  transform: rotateY(16deg);
  animation-delay: 0.3s;
}
.ring:nth-child(5) {
  color: #deb21a;
  transform: rotateY(20deg);
  animation-delay: 0.4s;
}
.ring:nth-child(6) {
  color: #ef9621;
  transform: rotateY(24deg);
  animation-delay: 0.5s;
}
.ring:nth-child(7) {
  color: #f29122;
  transform: rotateY(28deg);
  animation-delay: 0.6s;
}
.ring:nth-child(8) {
  color: #fb7430;
  transform: rotateY(32deg);
  animation-delay: 0.7s;
}
.ring:nth-child(9) {
  color: #fe5944;
  transform: rotateY(36deg);
  animation-delay: 0.8s;
}
.ring:nth-child(10) {
  color: #fe5548;
  transform: rotateY(40deg);
  animation-delay: 0.9s;
}
.ring:nth-child(11) {
  color: #f83d61;
  transform: rotateY(44deg);
  animation-delay: 1s;
}
.ring:nth-child(12) {
  color: #ec2b7d;
  transform: rotateY(48deg);
  animation-delay: 1.1s;
}
.ring:nth-child(13) {
  color: #e82983;
  transform: rotateY(52deg);
  animation-delay: 1s;
}
.ring:nth-child(14) {
  color: #d41e9f;
  transform: rotateY(56deg);
  animation-delay: 0.9s;
}
.ring:nth-child(15) {
  color: #bd1aba;
  transform: rotateY(60deg);
  animation-delay: 0.8s;
}
.ring:nth-child(16) {
  color: #b81ac0;
  transform: rotateY(64deg);
  animation-delay: 0.7s;
}
.ring:nth-child(17) {
  color: #9c1fd7;
  transform: rotateY(68deg);
  animation-delay: 0.6s;
}
.ring:nth-child(18) {
  color: #802aea;
  transform: rotateY(72deg);
  animation-delay: 0.5s;
}
.ring:nth-child(19) {
  color: #7a2dee;
  transform: rotateY(76deg);
  animation-delay: 0.4s;
}
.ring:nth-child(20) {
  color: #5f40f9;
  transform: rotateY(80deg);
  animation-delay: 0.3s;
}
.ring:nth-child(21) {
  color: #4657fe;
  transform: rotateY(84deg);
  animation-delay: 0.2s;
}
.ring:nth-child(22) {
  color: #425cfe;
  transform: rotateY(88deg);
  animation-delay: 0.1s;
}
.ring:nth-child(23) {
  color: #2f77fb;
  transform: rotateY(92deg);
  animation-delay: 0s;
}
.ring:nth-child(24) {
  color: #2f77fb;
  transform: rotateY(96deg);
  animation-delay: 0s;
}
.ring:nth-child(25) {
  color: #2f77fb;
  transform: rotateY(100deg);
  animation-delay: 0s;
}
.ring:nth-child(26) {
  color: #2f77fb;
  transform: rotateY(104deg);
  animation-delay: 0s;
}
.ring:nth-child(27) {
  color: #2f77fb;
  transform: rotateY(108deg);
  animation-delay: 0s;
}
.ring:nth-child(28) {
  color: #2f77fb;
  transform: rotateY(112deg);
  animation-delay: 0s;
}
.ring:nth-child(29) {
  color: #2f77fb;
  transform: rotateY(116deg);
  animation-delay: 0s;
}
.ring:nth-child(30) {
  color: #2f77fb;
  transform: rotateY(120deg);
  animation-delay: 0s;
}
.ring:nth-child(31) {
  color: #2f77fb;
  transform: rotateY(124deg);
  animation-delay: 0s;
}
.ring:nth-child(32) {
  color: #2f77fb;
  transform: rotateY(128deg);
  animation-delay: 0s;
}
.ring:nth-child(33) {
  color: #2f77fb;
  transform: rotateY(132deg);
  animation-delay: 0s;
}
.ring:nth-child(34) {
  color: #2f77fb;
  transform: rotateY(136deg);
  animation-delay: 0s;
}
.ring:nth-child(35) {
  color: #2f77fb;
  transform: rotateY(140deg);
  animation-delay: 0s;
}
.ring:nth-child(36) {
  color: #2f77fb;
  transform: rotateY(144deg);
  animation-delay: 0s;
}
.ring:nth-child(37) {
  color: #2f77fb;
  transform: rotateY(148deg);
  animation-delay: 0s;
}
.ring:nth-child(38) {
  color: #2f77fb;
  transform: rotateY(152deg);
  animation-delay: 0s;
}
.ring:nth-child(39) {
  color: #2f77fb;
  transform: rotateY(156deg);
  animation-delay: 0s;
}
.ring:nth-child(40) {
  color: #2f77fb;
  transform: rotateY(160deg);
  animation-delay: 0s;
}
.ring:nth-child(41) {
  color: #2f77fb;
  transform: rotateY(164deg);
  animation-delay: 0s;
}
.ring:nth-child(42) {
  color: #2f77fb;
  transform: rotateY(168deg);
  animation-delay: 0s;
}
.ring:nth-child(43) {
  color: #2f77fb;
  transform: rotateY(172deg);
  animation-delay: 0s;
}
.ring:nth-child(44) {
  color: #2f77fb;
  transform: rotateY(176deg);
  animation-delay: 0s;
}
.ring:nth-child(45) {
  color: #2f77fb;
  transform: rotateY(180deg);
  animation-delay: 0s;
}
