.universal-info-display {
  width: 100%;
  height: 100%;
  background-color: #1b1a26;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.01em;
}

.universal-info-display span {
  opacity: 0.96;
}

.no-pointer-events {
  pointer-events: none;
}

.filter-controls {
  position: relative;
  width: 100%;
  min-height: 2rem;
  max-height: 16rem;
  display: flex;
  flex-direction: column;
}

.filter-controls.sel {
  min-height: calc(2rem + 2.8rem);
}

.filter-controls.off {
  max-height: 2rem;
  min-height: 2rem;
  height: 2rem;
  transition: all ease 250ms;
}

.filter-controls.column .slider {
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
}

.filter-controls.column .slider .slider-label {
  padding: 0.25rem 0.8rem;
}

.filter-controls.column .slider .slider-label:first-of-type {
  padding-top: 0.5rem;
}

.filter-controls.column .slider .slider-label:last-of-type {
  padding-bottom: 1rem;
}

.filter-controls.column .slider .slider-label.selected {
  font-size: 0.9rem;
  margin: 0;
}
