.universal-info-display {
  width: 100%;
  height: 100%;
  background-color: #1b1a26;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.01em;
}

.universal-info-display span {
  opacity: 0.96;
}

.no-pointer-events {
  pointer-events: none;
}

#search-input {
  background-color: white;
  color: black;
  width: 100%;
}
