.slider {
  position: relative;
  background-color: #1b1a26;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  text-shadow: 1px 1px green;
  border-top: 1px solid #2e2f41;
  font-size: 0.9rem;
  height: 100%;
  min-height: 2.8rem;
}

.slider.page {
  height: 2.8rem;
  max-height: 2.8rem;
  border-bottom: 1px solid #2e2f41;
}

.slider-label {
  position: relative;
  height: 100%;
  padding: 0.5rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #80f077;
  border: 0;
  text-transform: capitalize;
  white-space: nowrap;
}

.slider-label:first-of-type {
  padding-left: 50%;
}

.slider-label:last-of-type {
  padding-right: 50%;
}

.slider-label.selected {
  color: gold;
  font-size: 1rem;
  margin-bottom: 0.1rem;
}

.slider-label.dot {
  color: lightgray;
}

.slider.page.tick {
  background: linear-gradient(
    to left,
    #1b1a26 0%,
    #1b1a26 49%,
    rgb(255, 215, 0, 0.25) 49%,
    rgb(255, 215, 0, 0.25) 51%,
    #1b1a26 51%,
    #1b1a26 100%
  );
}

.slider button {
  position: fixed;
  background-color: #1b1a26;
  color: rgba(128, 240, 119, 0.9);
  text-shadow: 1px 1px green;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-top: 1px solid #2e2f41;
  font-size: 0.8rem;
  padding-bottom: 0.25rem;
  height: 2.8rem;
  width: calc(2rem + 1px);
  bottom: 0;
}

.slider #btn-first {
  left: 0;
  border-right: 1px solid #2e2f41;
}

.slider #btn-last {
  right: 0;
  border-left: 1px solid #2e2f41;
}

.slider.page .slider-label.selected,
.slider.group .slider-label.selected {
  text-decoration: underline;
}

.slider.choice .slider-label.selected {
  color: gold;
}
