.universal_info_display {
  width: 100%;
  height: 100%;
  background-color: #1b1a26;
  display: flex;
  flex-direction: column;
}

.titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1e1f33;
  text-shadow: 1px 1px green;
  border: 1px solid #2e2f41;
  z-index: 1;
  color: #80f077;
  padding: 0.25rem;
}

.titlebar .title {
  white-space: nowrap;
  text-transform: capitalize;
  overflow-x: scroll;
  display: block;
  color: rgba(255, 215, 0, 0.9);
}

.titlebar .total {
  padding-left: 0.5rem;
}

.titlebar .current-page {
  color: gold;
}

.titlebar .total-pages {
  color: lightgray;
}

.titlebar .close {
  font-weight: bold;
  color: rgba(150, 150, 150, 1);
  text-shadow: 1px 1px black;
}

.map {
  flex: 1;
}

.map-loc {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}

.map-loc.selected {
  font-weight: 700;
}

.page_bg {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.page_loader {
  background-color: rgb(252, 252, 252);
  color: #1e1f33;
  height: 100%;
  width: 100%;
  display: inline-flex;
  position: absolute;
  z-index: -1;
  /*justify-content: center;
  align-items: center;*/
}

.content_slider {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex: 1;
}

.content_page {
  background-color: #1e1f33;
  color: #1e1f33;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.content_page:last-of-type {
  overflow: hidden;
}

.content_page .no-items {
  position: absolute;
  font-size: 1.5rem;
  color: rgba(252, 252, 252, 1);
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6rem;
  z-index: 1;
}

#all-text {
  visibility: hidden;
  white-space: normal;
  word-break: break-word;
  width: 100%;
  position: absolute;
}

.statusbar {
  position: relative;
  background-color: #1b1a26;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
  color: #80f077;
  text-shadow: 1px 1px green;
  border: 1px solid #2e2f41;
}

.statusbar .search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #1b1a26;
  border-left: 1px solid #2e2f41;
  padding: 0.2rem;
}

.statusbar img {
  height: 1rem;
  width: 1.5rem;
  opacity: 0.8;
}

.statusbar .filters {
  padding: 0.25rem 0.25rem;
}

.statusbar .filters {
  white-space: nowrap;
  overflow-x: scroll;
}

.statusbar .filters .filter-vals {
  color: gold;
  opacity: 0.75;
  margin-right: 1.25rem;
}

.statusbar .filters .filter-vals.sel {
  opacity: 1;
}

.range_control {
  margin: 0% 12%;
  width: 76%;
  position: relative;
  height: 44px;
}

.range_control.off {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}

.range_control .on-btn {
  margin: 0.25rem 0;
  background: transparent;
  color: #80f077;
  font-size: 1rem;
  border: 0;
}

.range_control .active {
  position: absolute;
  height: 100%;
  background-color: gold;
  opacity: 0.25;
  left: 0;
}

.range_control.asc {
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 50%,
    #32409b 50%,
    #32409b 100%
  );
}

.range_control.desc {
  background: linear-gradient(
    to bottom left,
    transparent 0%,
    transparent 50%,
    #32409b 50%,
    #32409b 100%
  );
}

.range_control .active {
  right: 0;
  left: auto;
}

.range_label {
  color: #80f077;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.range_control .min {
  left: 0;
  transform: translateX(-100%);
  padding-right: 0.25rem;
}

.range_control .max {
  right: 0;
  transform: translateX(100%);
  padding-left: 0.25rem;
}

input {
  position: relative;
  height: 44px;
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

.range_control.desc input {
  direction: rtl;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.1rem;
  cursor: pointer;
  background-color: greenyellow;
  opacity: 0.85;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 2rem;
  width: 2rem;
  margin-top: -12px;
  border-radius: 1rem;
  border: 4px solid #1e1f33;
  background-color: rgb(252, 252, 252);
  cursor: pointer;
  -webkit-appearance: none;
}

.buttonbar {
  height: 1.8rem;
  max-height: 1.8rem;
  min-height: 1.8rem;
  width: 100%;
  display: flex;
}

.filter_button {
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #2e2f41;
  border-right: 0;
  background-color: #1b1a26;
  font-size: 1rem;
  color: #80f077;
  text-shadow: 1px 1px green;
}

.filter_button.selected {
  border: 1px solid rgba(255, 215, 0, 0.9);
}

.filter_button.on {
  color: gold;
  text-shadow: none;
}

.filter_button.asc {
  background: linear-gradient(
    to bottom right,
    #1b1a26 0%,
    #1b1a26 50%,
    #32409b 50%,
    #32409b 100%
  );
}

.filter_button.desc {
  background: linear-gradient(
    to bottom left,
    #1b1a26 0%,
    #1b1a26 50%,
    #32409b 50%,
    #32409b 100%
  );
}

.item-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.item-grid.groups {
  align-items: flex-end;
}

.item-grid.groups .item {
  /* glow doesn't overflow with rgba? */
  background-color: rgba(0, 0, 0, 0.3);
}

.item-grid.items {
  background-color: #32409b;
  background-image: linear-gradient(0deg, #1b1a22 0%, #32409b 100%);
}

.item-grid .item {
  position: relative;
  height: 33.33%;
  width: 50%;
  float: left;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-grid .item span {
  font-size: 1rem;
  color: lightyellow;
  z-index: 1;
  padding: 0.1rem 0.2rem;
  text-shadow: 2px 2px black;
  background: rgba(0, 0, 0, 0.25);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-left: 0.2rem;
}

.item-grid .item .title {
  font-weight: bold;
  color: greenyellow;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 0.2rem);
  padding-bottom: 0.1rem;
  margin-top: 0.2rem;
}

.item-grid.groups .item .title {
  color: greenyellow;
  font-size: 1.2rem;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
}

.item-grid .item .container {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 0;
}

.item-grid .item .container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-grid .item .ppu {
  display: none;
}

.item-grid .item .container-img {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.item-grid .glow {
  position: absolute;
  object-fit: cover;
  max-width: 200%;
  max-height: 200%;
  margin: 0.25rem;
  opacity: 0.5;
  object-fit: cover;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.item-grid .media {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  margin: 0.25rem;
  z-index: 1;
}

.universal_info_display_nav_slider {
  background-color: #1e1f33;
  height: 8%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

#universal_info_display_nav_page_slider {
  background-color: #1e1f33;
}

.slider {
  position: relative;
  background-color: #1b1a26;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  text-shadow: 1px 1px green;
  border: 1px solid #2e2f41;
}

.slider_label {
  position: relative;
  padding: 0.75rem;
  display: block;
  color: #80f077;
  border: 0;
  text-transform: capitalize;
}

.slider_label:first-of-type {
  padding-left: 50%;
}

.slider_label:last-of-type {
  padding-right: 50%;
}

.slider_label.clear-filters {
  left: 50%;
  padding-left: 0;
  padding-right: 0;
  transform: translateX(-50%);
}

.slider_label.clear-filters.disabled {
  color: green;
}

.slider_label.selected {
  color: gold;
  font-size: 1.1rem;
}

.slider.page.tick {
  background: linear-gradient(
    to left,
    #1b1a26 0%,
    #1b1a26 49%,
    rgb(255, 215, 0, 0.25) 49%,
    rgb(255, 215, 0, 0.25) 51%,
    #1b1a26 51%,
    #1b1a26 100%
  );
}

.slider button {
  position: fixed;
  background-color: #1b1a26;
  color: #80f077;
  text-shadow: 1px 1px green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 0;
}

.slider #btn_first {
  left: 1px;
  text-align: left;
}

.slider #btn_last {
  right: 1px;
  text-align: right;
}

.slider.page .slider_label.selected,
.slider.group .slider_label.selected {
  text-decoration: underline;
}

.slider.choice .slider_label.selected {
  color: gold;
}

#filter_range_status {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  padding: 1rem;
  position: fixed;
  color: rgb(252, 252, 252);
  font-size: 3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease 1s;
  pointer-events: none;
  z-index: 1;
}

#item {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #1e1f33;
  transition: all ease 1s;
  font-size: 4rem;
}

#item img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 50%;
  object-fit: cover;
}

#item_close,
.get_data {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20vh;
  width: 100%;
  font-size: 3rem;
  color: red;
  opacity: 1;
  animation: blinker 5s linear infinite;
}

.no-pointer-events {
  pointer-events: none;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

@keyframes roundandround {
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.scene {
  width: 100%;
  height: 100%;
  margin: 2% auto;
  perspective: 1000px;
}
.wrapper {
  width: 100%;
  height: 100%;
  transform: rotateX(45deg) rotateY(45deg);
  transform-style: preserve-3d;
}
.ball {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin: 0 auto;
  transform-style: preserve-3d;
  animation: roundandround 7.5s 1.3s infinite linear;
  list-style-type: none;
}
.ball .ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 6px;
  border-style: dashed;
  border-radius: 50%;
  opacity: 0;
  animation: show 0.75s forwards ease-in-out;
}
.ring:nth-child(1) {
  color: #8df435;
  transform: rotateY(4deg);
  animation-delay: 0s;
}
.ring:nth-child(2) {
  color: #a8e526;
  transform: rotateY(8deg);
  animation-delay: 0.1s;
}
.ring:nth-child(3) {
  color: #c2d11c;
  transform: rotateY(12deg);
  animation-delay: 0.2s;
}
.ring:nth-child(4) {
  color: #c8cb1b;
  transform: rotateY(16deg);
  animation-delay: 0.3s;
}
.ring:nth-child(5) {
  color: #deb21a;
  transform: rotateY(20deg);
  animation-delay: 0.4s;
}
.ring:nth-child(6) {
  color: #ef9621;
  transform: rotateY(24deg);
  animation-delay: 0.5s;
}
.ring:nth-child(7) {
  color: #f29122;
  transform: rotateY(28deg);
  animation-delay: 0.6s;
}
.ring:nth-child(8) {
  color: #fb7430;
  transform: rotateY(32deg);
  animation-delay: 0.7s;
}
.ring:nth-child(9) {
  color: #fe5944;
  transform: rotateY(36deg);
  animation-delay: 0.8s;
}
.ring:nth-child(10) {
  color: #fe5548;
  transform: rotateY(40deg);
  animation-delay: 0.9s;
}
.ring:nth-child(11) {
  color: #f83d61;
  transform: rotateY(44deg);
  animation-delay: 1s;
}
.ring:nth-child(12) {
  color: #ec2b7d;
  transform: rotateY(48deg);
  animation-delay: 1.1s;
}
.ring:nth-child(13) {
  color: #e82983;
  transform: rotateY(52deg);
  animation-delay: 1s;
}
.ring:nth-child(14) {
  color: #d41e9f;
  transform: rotateY(56deg);
  animation-delay: 0.9s;
}
.ring:nth-child(15) {
  color: #bd1aba;
  transform: rotateY(60deg);
  animation-delay: 0.8s;
}
.ring:nth-child(16) {
  color: #b81ac0;
  transform: rotateY(64deg);
  animation-delay: 0.7s;
}
.ring:nth-child(17) {
  color: #9c1fd7;
  transform: rotateY(68deg);
  animation-delay: 0.6s;
}
.ring:nth-child(18) {
  color: #802aea;
  transform: rotateY(72deg);
  animation-delay: 0.5s;
}
.ring:nth-child(19) {
  color: #7a2dee;
  transform: rotateY(76deg);
  animation-delay: 0.4s;
}
.ring:nth-child(20) {
  color: #5f40f9;
  transform: rotateY(80deg);
  animation-delay: 0.3s;
}
.ring:nth-child(21) {
  color: #4657fe;
  transform: rotateY(84deg);
  animation-delay: 0.2s;
}
.ring:nth-child(22) {
  color: #425cfe;
  transform: rotateY(88deg);
  animation-delay: 0.1s;
}
.ring:nth-child(23) {
  color: #2f77fb;
  transform: rotateY(92deg);
  animation-delay: 0s;
}
.ring:nth-child(24) {
  color: #2f77fb;
  transform: rotateY(96deg);
  animation-delay: 0s;
}
.ring:nth-child(25) {
  color: #2f77fb;
  transform: rotateY(100deg);
  animation-delay: 0s;
}
.ring:nth-child(26) {
  color: #2f77fb;
  transform: rotateY(104deg);
  animation-delay: 0s;
}
.ring:nth-child(27) {
  color: #2f77fb;
  transform: rotateY(108deg);
  animation-delay: 0s;
}
.ring:nth-child(28) {
  color: #2f77fb;
  transform: rotateY(112deg);
  animation-delay: 0s;
}
.ring:nth-child(29) {
  color: #2f77fb;
  transform: rotateY(116deg);
  animation-delay: 0s;
}
.ring:nth-child(30) {
  color: #2f77fb;
  transform: rotateY(120deg);
  animation-delay: 0s;
}
.ring:nth-child(31) {
  color: #2f77fb;
  transform: rotateY(124deg);
  animation-delay: 0s;
}
.ring:nth-child(32) {
  color: #2f77fb;
  transform: rotateY(128deg);
  animation-delay: 0s;
}
.ring:nth-child(33) {
  color: #2f77fb;
  transform: rotateY(132deg);
  animation-delay: 0s;
}
.ring:nth-child(34) {
  color: #2f77fb;
  transform: rotateY(136deg);
  animation-delay: 0s;
}
.ring:nth-child(35) {
  color: #2f77fb;
  transform: rotateY(140deg);
  animation-delay: 0s;
}
.ring:nth-child(36) {
  color: #2f77fb;
  transform: rotateY(144deg);
  animation-delay: 0s;
}
.ring:nth-child(37) {
  color: #2f77fb;
  transform: rotateY(148deg);
  animation-delay: 0s;
}
.ring:nth-child(38) {
  color: #2f77fb;
  transform: rotateY(152deg);
  animation-delay: 0s;
}
.ring:nth-child(39) {
  color: #2f77fb;
  transform: rotateY(156deg);
  animation-delay: 0s;
}
.ring:nth-child(40) {
  color: #2f77fb;
  transform: rotateY(160deg);
  animation-delay: 0s;
}
.ring:nth-child(41) {
  color: #2f77fb;
  transform: rotateY(164deg);
  animation-delay: 0s;
}
.ring:nth-child(42) {
  color: #2f77fb;
  transform: rotateY(168deg);
  animation-delay: 0s;
}
.ring:nth-child(43) {
  color: #2f77fb;
  transform: rotateY(172deg);
  animation-delay: 0s;
}
.ring:nth-child(44) {
  color: #2f77fb;
  transform: rotateY(176deg);
  animation-delay: 0s;
}
.ring:nth-child(45) {
  color: #2f77fb;
  transform: rotateY(180deg);
  animation-delay: 0s;
}
