.universal_info_display {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 170, 0, 0.281);
}

#universal_info_display_title_bar {
  width: 100%;
  height: 5%;
  background-color: #006400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: lightgreen;
}

#universal_info_display_title_bar span {
  color: white;
  padding: 0 1rem;
}

.content_slider {
  position: relative;
  height: 74%;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
}

.page_bg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.page_loader {
  background-color: white;
  color: black;
  height: 100%;
  width: 100%;
  display: inline-flex;
  position: absolute;
  z-index: -1;
  /*justify-content: center;
  align-items: center;*/
}

.content_slider .content_page {
  background-color: chartreuse;
  color: black;
  height: 100%;
  width: 100%;
  display: inline-flex;
  white-space: normal;
  word-break: break-word;
  overflow: hidden;
  /*justify-content: center;
  align-items: center;*/
}

.content_page .no-items {
  font-size: 4rem;
  padding: 1rem;
}

#all-text {
  visibility: hidden;
  white-space: normal;
  word-break: break-word;
  width: 100%;
  position: absolute;
}

.universal_info_display_nav_slider {
  background-color: green;
  height: 8%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

#universal_info_display_nav_page_slider {
  background-color: darkgreen;
}

.slider_label.selected {
  color: white;
}

#universal_info_display_filter_bar {
  height: 5%;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
}

.range_control {
  margin: 0% 12%;
  width: 76%;
  position: relative;
  height: 8%;
}

.range_control .active {
  position: absolute;
  height: 100%;
  background-color: orange;
  opacity: 0.6;
  left: 0;
}

.range_control.asc {
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 50%,
    white 50%,
    white 100%
  );
}

.range_control.desc {
  background: linear-gradient(
    to bottom left,
    transparent 0%,
    transparent 50%,
    white 50%,
    white 100%
  );
}
.range_control.desc .active,
.range_control.asc .active {
  right: 0;
  left: auto;
}

.range_label {
  color: white;
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.range_control .range_label.min {
  padding-top: 1.75rem;
}

.range_control .range_label.max {
  padding-bottom: 1.75rem;
}

.range_control.asc .range_label.min,
.range_control.desc .range_label.max {
  left: 0;
  transform: translateX(-100%);
  padding-right: 1px;
}

.range_control.asc .range_label.max,
.range_control.desc .range_label.min {
  right: 0;
  transform: translateX(100%);
  padding-left: 1px;
}

input {
  position: absolute;
  -webkit-appearance: none;
  z-index: 1;
  width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

.range_control.desc input {
  direction: rtl;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background-color: greenyellow;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 2rem;
  width: 2rem;
  margin-top: -12px;
  border-radius: 1rem;
  border: 4px solid black;
  background-color: white;
  cursor: pointer;
  -webkit-appearance: none;
}

.filter_button {
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: lightgreen;
}

.filter_button.selected {
  border: 4px solid orange;
}

.filter_button.on {
  background-color: white;
}

.filter_button.asc {
  background: linear-gradient(
    to bottom right,
    lightgreen 0%,
    lightgreen 50%,
    white 50%,
    white 100%
  );
}

.filter_button.desc {
  background: linear-gradient(
    to bottom left,
    lightgreen 0%,
    lightgreen 50%,
    white 50%,
    white 100%
  );
}

.item-grid {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: black;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  border-right: 3px solid black;
  border-left: 3px solid black;
}

.item-grid .item {
  position: relative;
  background: chartreuse;
}

.item-grid .item span {
  position: absolute;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.25rem;
}

.item-grid .ppu {
  right: 0;
  bottom: 0;
}

.item-grid .item .price {
  left: 0;
  bottom: 0;
}

.item-grid .item .percent {
  right: 0;
  bottom: 1.5rem;
}

.item-grid .item .choice {
  left: 0;
  bottom: 1.5rem;
}

.item-grid img {
  margin-top: 1rem;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

.slider {
  background-color: rgba(0, 170, 0, 0.281);
  border-bottom: 2px solid darkgreen;
  height: 8%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}

.slider.group {
  background-color: darkgreen;
}

.slider.group,
.slider.choice {
  justify-content: center;
}

.slider_label {
  position: relative;
  font-size: 2.25rem;
  padding: 1rem;
  display: block;
  color: lightgreen;
  padding-bottom: 1rem;
  border: 0;
}

.slider.page .slider_label:first-of-type {
  padding-left: 50%;
}

.slider.page .slider_label:last-of-type {
  padding-right: 50%;
}

.slider_label.selected {
  color: white;
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.slider.page.tick {
  background: linear-gradient(
    to left,
    green 0%,
    green 49%,
    orange 49%,
    orange 51%,
    green 51%,
    green 100%
  );
}

.slider button {
  position: fixed;
  background-color: lightgreen;
  font-size: 1.25rem;
  height: 8%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.slider #btn_first {
  left: 0;
  width: 12%;
  text-align: left;
}

.slider #btn_last {
  right: 0;
  width: 12%;
  text-align: right;
}

.slider.page .slider_label.selected,
.slider.group .slider_label.selected {
  text-decoration: underline;
}

.slider.choice .slider_label.selected {
  color: orange;
}

#filter_range_status {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 0.5rem;
  padding: 1rem;
  position: fixed;
  color: white;
  font-size: 7rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease 1s;
  pointer-events: none;
  z-index: 1;
}

#item {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: chartreuse;
  transition: all ease 1s;
  font-size: 4rem;
}

#item_close,
.clear_filters,
.get_data {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20vh;
  width: 100%;
  font-size: 3rem;
  color: red;
  opacity: 1;
  animation: blinker 5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
