.U {
  position: absolute;
  display: none;
  border: 1px solid lightgray;
  overflow: hidden;
  touch-action: none;
}

.edit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  width: 100%;
  height: 100%;
  cursor: move;
  border: 0;
  touch-action: none;
}

.lock {
  width: 18px;
  height: 18px;
  position: absolute;
  margin: auto;
  border: 2px solid gray;
  cursor: pointer;
}

.corner {
  position: absolute;
}

.corner:hover {
  background-color: #202020;
  border-color: gray;
}

.tl {
  top: 0;
  left: 0;
  border-bottom: 4px dashed #383838;
  border-right: 4px dashed #383838;
  cursor: nw-resize;
}

.tr {
  top: 0;
  right: 0;
  border-bottom: 4px dashed #383838;
  border-left: 4px dashed #383838;
  cursor: ne-resize;
}

.br {
  bottom: 0;
  right: 0;
  border-top: 4px dashed #383838;
  border-left: 4px dashed #383838;
  cursor: se-resize;
}

.bl {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  border-top: 4px dashed #383838;
  border-right: 4px dashed #383838;
}

.lock:hover {
  border: 2px solid #fff;
}

.on {
  background-color: lightgray;
}

.selected {
  border: 3px solid lightgreen;
}

.dimension {
  background-color: transparent;
  color: #fff;
  cursor: text;
  margin-top: 2px;
  margin-left: 12px;
  width: 96px;
  border: 0;
  text-align: center;
  z-index: 999;
  user-select: all;
  font-size: 16px;
}

.split {
  margin-top: 8px;
  color: lightgray;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 4px;
}

.split:hover {
  color: white;
}

.delete {
  margin-top: 8px;
  color: darkred;
  cursor: pointer;
  border: 1px solid darkred;
  padding: 4px;
}

.delete:hover {
  color: red;
  border: 1px solid red;
}

.dimension:hover,
.split:hover,
.delete:hover {
  font-weight: 600;
}

.img-test {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  object-fit: cover;
}

@media only screen and (min-width: 0px) and (max-width: 499px) {
  .sm {
    display: flex;
  }
}

@media only screen and (min-width: 500px) and (max-width: 999px) {
  .md {
    display: flex;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 20000px) {
  .lg {
    display: flex;
  }
}

.universal_info_display {
  width: 100%;
  height: 100%;
  position: relative;
}

#universal_info_display_title_bar {
  width: 100%;
  height: 5%;
  background-color: #006400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: lightgreen;
}

#universal_info_display_title_bar span {
  padding: 0 1rem;
}

.universal_info_display .content_slider {
  position: relative;
  height: 70%;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
  z-index: 1;
}

.universal_info_display .page_loader {
  background-color: white;
  color: black;
  height: 100%;
  width: 100%;
  display: inline-flex;
  position: absolute;
  z-index: -1;
  /*justify-content: center;
  align-items: center;*/
}

.universal_info_display .content_slider .content_page {
  background-color: white;
  color: black;
  height: 100%;
  width: 100%;
  display: inline-flex;
  white-space: normal;
  word-break: break-word;
  overflow: hidden;
  /*justify-content: center;
  align-items: center;*/
}

.universal_info_display #all-text {
  visibility: hidden;
  white-space: normal;
  word-break: break-word;
  width: 100%;
  position: absolute;
}

.universal_info_display_nav_slider,
#universal_info_display_filter_control_choice {
  background-color: green;
  height: 10%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

#universal_info_display_nav_page_slider {
  background-color: darkgreen;
}

#universal_info_display_nav_page_slider .slider_label,
#universal_info_display_nav_group_slider .slider_label {
  color: greenyellow;
}

#universal_info_display_nav_page_slider .slider_label.selected,
#universal_info_display_nav_group_slider .slider_label.selected {
  color: white;
}

#universal_info_display_filter_control_choice .slider_label {
  color: greenyellow;
  border-right: 2px solid darkgreen;
}

#universal_info_display_filter_control_choice .slider_label:last-of-type {
  color: greenyellow;
  border-right: 0;
}

#universal_info_display_filter_control_choice .slider_label.selected {
  font-size: 2rem;
  color: white;
}

#universal_info_display_filter_bar {
  height: 5%;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
}

.universal_info_display_filter_control {
  height: 10%;
  width: 100%;
  background-color: green;
}

#universal_info_display_filter_control_range {
  position: relative;
}

#universal_info_display_filter_control_range.asc {
  position: relative;
  background: linear-gradient(
    to bottom right,
    green 0%,
    green 50%,
    lightgray 50%,
    lightgray 100%
  );
}

#universal_info_display_filter_control_range.desc {
  position: relative;
  background: linear-gradient(
    to bottom left,
    green 0%,
    green 50%,
    lightgray 50%,
    lightgray 100%
  );
}

#universal_info_display_filter_control_range input {
  position: absolute;
  -webkit-appearance: none;
  z-index: 1;
  width: 90%;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 5%;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background-color: greenyellow;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 2rem;
  width: 2rem;
  margin-top: -12px;
  border-radius: 1rem;
  border: 4px solid black;
  background-color: white;
  cursor: pointer;
  -webkit-appearance: none;
}

.universal_info_display_filter_button {
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.universal_info_display .item-grid {
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: lightblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  border-right: 1px solid lightgreen;
  border-left: 1px solid lightgreen;
}

.universal_info_display .item-grid .item {
  position: relative;
  background-color: slategray;
}

.universal_info_display .item-grid .item span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: lightblue;
  z-index: 5;
}

.universal_info_display .item-grid img {
  width: 100%;
}

.slider {
  background-color: green;
  height: 10%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.slider_label {
  font-size: 2rem;
  padding: 1rem;
  display: block;
  color: lightgreen;
}

.slider_label:first-of-type {
  padding-left: 50%;
}

.slider_label:last-of-type {
  padding-right: 50%;
}

.slider_label.selected {
  color: white;
  text-decoration: underline;
  border: 0;
  font-size: 2.5rem;
}
