.U {
  position: absolute;
  touch-action: none;
  display: none;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lock {
  width: 18px;
  height: 18px;
  position: absolute;
  margin: auto;
  border: 1px solid lightgray;
}

.on {
  background-color: lightgray;
}

.selected {
  border-color: lightgreen;
  border-width: 4px;
}

.split {
  color: lightgreen;
}

.delete {
  color: red;
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .sm {
    display: flex;
  }
}

@media only screen and (min-width: 600px) and (max-width: 20000px) {
  .lg {
    display: flex;
  }
}
