.A {
  position: absolute;
  touch-action: none;
  display: none;
  border: 1px solid white;
  background-color: black;
}

.lock {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: auto;
  border: 1px solid lightgray;
}

.on {
  background-color: lightgray;
}

.sm {
  @media only screen and (min-width: 460px) and (max-width: 599px) {
    display: block;
  }
}

.lg {
  @media only screen and (min-width: 600px) and (max-width: 1000px) {
    display: block;
  }
}
